<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from eduport.webestica.com/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 Mar 2022 02:55:58 GMT -->

<head>
	<title>@ViewBag.Title</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Eduport- LMS, Education and Course Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="~/assets/images/favicon.ico">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">
	<link
		href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/tiny-slider/tiny-slider.css">
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/glightbox/css/glightbox.css">

	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.15.10/dist/sweetalert2.min.css" rel="stylesheet">

	<!-- Theme CSS -->
	<link id="style-switch" rel="stylesheet" type="text/css" href="~/assets/css/style.css">

	@RenderSection("Childcss", required: false)

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-7N7LGGGWT1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-7N7LGGGWT1');
	</script>

</head>

<body>

	<!-- Header START -->
	@await Component.InvokeAsync("Header")
	<!-- Header END -->

	<!-- **************** MAIN CONTENT START **************** -->
	@RenderBody()
	<!-- **************** MAIN CONTENT END **************** -->

	<!-- =======================
Footer START -->
	@await Component.InvokeAsync("Footer")
	<!-- =======================
Footer END -->

	<!-- Back to top -->
	<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

	<!-- Chat Popup -->
	@await Component.InvokeAsync("ChatPopup")

	<!-- Bootstrap JS -->
	<script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	<!-- Vendors -->
	<script src="~/assets/vendor/tiny-slider/tiny-slider.js"></script>
	<script src="~/assets/vendor/glightbox/js/glightbox.js"></script>
	<script src="~/assets/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.15.10/dist/sweetalert2.all.min.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var message = '@TempData["Success"]';
			if (message) {
				Swal.fire({
					icon: 'success',
					title: 'Success',
					text: message
				});
			}
		});
	</script>

	<!-- Template Functions -->
	<script src="~/assets/js/functions.js"></script>

	@RenderSection("jsFooter", required: false)

	@await RenderSectionAsync("Scripts", required: false)

</body>

<!-- Mirrored from eduport.webestica.com/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 Mar 2022 02:56:36 GMT -->

</html>