@model IEnumerable<Blog>
@{
    ViewData["Title"] = "Danh sách Bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var categories = ViewBag.CategoryList as IEnumerable<BlogCategory>;
}

<main id="main" class="main"> 
    <div class="pagetitle">
        <h2>Danh sách Bài viết</h2>
        <p>
            <a asp-area="Admin" asp-controller="Blog" asp-action="Create" type="button" class="btn btn-success">
            <i class="bi bi-file-earmark-text me-1"></i>Thêm bài viết mới</a>
            <section class="section dashboard">
                <div class="row">
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body mt-4">
                                <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th class="col">ID</th>
                                            <th class="col-2">Hình ảnh</th>
                                            <th class="col-2">Tiêu đề bài viết</th>
                                            <th class="col-2">Thể loại</th>
                                            <th class="col-2">Tác giả</th>
                                            <th class="col-2">Ngày cập nhật</th>
                                            <th class="col-1">Trạng thái</th>
                                            <th class="col-1">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="text-left" scope="row">@item.BlogId</td>
                                                <td class="text-left" scope="row">
                                                    <img src="@item.Image" class="img-thumbnail" style="width: 200px; height: 120px;">
                                                </td>
                                                <td class="text-left" scope="row">@item.Title</td>
                                                <td class="text-left" scope="row">
                                                    @if (categories != null)
                                                    {
                                                        var category = categories.FirstOrDefault(c => c.BlogCategoryId == item.BlogCategoryId);
                                                        if (category != null)
                                                        {
                                                            <span>@category.Name</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Unknown Category</span>
                                                        }
                                                    }
                                                </td>
                                                <td class="text-left" scope="row">@item.Author</td>
                                                <td class="text-left" scope="row">@item.CreatedDate</td>
                                                <td class="text-left" scope="row">
                                                    @Html.Raw(@item.Status ? "<span class='badge bg-success'>Active</span>" : "<span class='badge bg-danger'>Inactive</span>")
                                                </td>
                                                <td class="text-left" scope="row">
                                                    <a asp-area="Admin" asp-controller="Blog" asp-action="Edit" asp-route-id="@item.BlogId" class="btn btn-warning btn-sm" title="Edit this Blog">
                                                        <i class="bi bi-pencil"></i>
                                                    </a>
                                                    <a asp-area="Admin" asp-controller="Blog" asp-action="Delete" asp-route-id="@item.BlogId" class="btn btn-danger btn-sm" title="Delete this Blog">
                                                        <i class="bi bi-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </p>
    </div>
</main>